<div class="col-8">
 
<table>
  <tr>
    <td><b>Name </b></td>
    <td><b>price</b></td>
    <td *ngIf="valQty" ><b>quantity</b></td>
    <td><b>Action</b></td>
  </tr>

  <tr *ngFor="let val of arObj; let i=index">
    <td>{{val.name}}</td>
    <td>{{val.price}}</td>
    <td *ngIf="valQty">{{val.quantity}}</td>
    <td><b>
      <button (click)="plus(i)" >plus</button> 
      <button (click)="minus(i)" [disabled]="val.disablingMinus" >minus</button>
    </b></td>
  </tr>

</table>
 
</div>
